section.clients {
  display: flex;
  background-image: url(../../images/clients/bg-clients.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  z-index: -1;
  position: relative;
  top: -175px;
  margin-bottom: -175px;
}

.client-logos-placeholder {
  display: flex;
  flex-direction: row;
  gap: 50px;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 260px;
  margin-bottom: 80px;
}
