section.creativity  > .row > .col-xs-12 {
    display: flex;
    width: 100%;
    flex-direction: row;
    padding: 80px 0 0;
    box-sizing: border-box;
}

.block {
  display: inline-block;
  padding: 40px 25px 25px;
  border-radius: 5px;
  text-align: center;
  box-shadow: 0 0 15px #00000030;
  margin-bottom: 40px;
}
.blocks-right-side {
  padding: 70px 0;
}

.block:hover {
  background-image: linear-gradient(-41deg, #09c778, #01a0f9);
  background-color: transparent;
  transition: 0.5s ease;
  position: relative;
  opacity: 0.9;
  color: #fff;
}
.block:hover p { color: #fff; transition: 0.5s ease;}

.creativity-right-side {
  padding: 70px 20px;
}
.creativity-right-side > .button-placeholder {
  display: inline-block;
  position: relative;
  margin-top: 30px;
}


@media (max-width: 992px) {
  section.creativity > .row > .col-xs-12 {
    flex-direction: column-reverse;
  }

  .blocks-right-side {
    flex-direction: column-reverse;
  }
}