section.creativity > .row > .col-xs-12 {
    display: flex;
    align-items: center;
    line-height: 1.5;
}
.creativity-left-side {
    padding: 0;
  }
  .creativity-left-side p {
    margin-top: 25px;
  }
  .creativity-right-side {
    padding: 20px;
    margin-left: 20px;
  }
  .block {
    display: inline-block;
    padding: 20px;
    border-radius: 5px;
    text-align: center;
    box-shadow: 0 0 15px #00000030;
    margin-bottom: 40px;
    
}
.block:hover {
  background-image: url(/images/hero/bg.jpg);
  background-size: cover;
  background-color: transparent;
  transition: 0.5s ease;
  color: #fff;
  position: relative;
  opacity: 1;
}

.block-left-side {
    margin-top: 50px;
    width: 48%;
    float: left;
    height: 100%;
}
.block-right-side {
    margin-top: 100px;
    width: 48%;
    float: right;
    height: 100%;
}
.block > p {
    margin-top: 15px;
    text-align: center;
}
#creat-icons {
  background: url(/images/hero/bg.jpg);
}

.creativity-right-side > h2 {
    font-size: 35px;
    margin-bottom: 20px;
}
.creativity-right-side > p + p {
    margin-top: 20px;
}
.creativity-right-side > .button-placeholder {
    display: inline-block;
    position: relative;
    margin-top: 30px;
    text-transform: uppercase;
  }

  @media (max-width: 992px) {
    section.creativity > .row > .col-xs-12 {
      flex-direction: column;
    }
  }