.footer {
  display: grid;
  grid-template-columns: repeat(auto-fill, 285px);
  grid-auto-rows: auto;
  margin: 0 auto;
  min-width: 100%;
  grid-area: footer;
  position: relative;
  bottom: 0;
  left: 0;
  right: 0;
  background-image: url(/images/footer/bg-footer.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-color: transparent;
}

.block > .footer-text {
  display: inline-block;
  width: 100%;
  border: none;
  padding-top: 40px;
  padding-left: 20px;
  padding-right: 20px;
  background-color: transparent;
  line-height: 15px;
  text-decoration: none;
  text-align: left ;
  float: left;
}

.footer-links a {
  display: inline-block;
  width: 100%;
  font-size: 15px;
  line-height: 20px;
  font-weight: 400;
  text-transform: capitalize;
  text-decoration: none;
  color: black;
 
}
.footer-links p {
  padding-bottom: 15px;
}

.footer-text h3 {
  display: block;
  font-size: 20px;
  line-height: 25px;
  font-weight: 600;
  text-transform: uppercase;
  padding-bottom: 30px;
}
.footer-logo {
  height: 20%;
  padding-bottom: 30px;
}
.block > .footer-text > .social a {
    background-color:#04ABD7;
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    line-height: 45px;
    position: relative;
    width: 45px;
    height: 45px;
    margin: 4px 2px;
    position: relative;
    border-radius: 100%;
  
}
.social p {
  padding-bottom: 30px;
}
.copy p  {
  display: inline-block;
  width:100%;
  font-weight: 400;
  text-align:center;
  font-size: 14px;
  line-height: 25px;
  color: black;
  bottom: 0;
  background-color: #EEF1F8;
  text-transform: capitalize;
 
}
.about {
  display: block;
  font-weight: 400;
  text-align: left;
  font-size: 15px;
  line-height: 20px;
  color: black;
  padding-bottom: 30px;
}
