.footer-bg {
  width: 100%;
  background-image: url(../../images/footer/bg-footer.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-color: transparent;
  background-position: center bottom;
  margin-left: auto;
  margin-right: auto;
}
.footer {
  display: grid;
  grid-template-columns: repeat(auto-fill, 285px);
  grid-auto-rows: auto;
  margin: 0 auto;
  min-width: 100%;
  grid-area: footer;
  position: relative;
  bottom: 0;
  left: 0;
  right: 0;
  padding-top: 80px;
}

.footer h3 {
  position: relative;
  z-index: 1;
}

.footer h3::before {
  content: '';
  position: absolute;
  z-index: -1;
  top: 12px;
  height: 5px;
  width: 70px;
  background: linear-gradient(-45deg, #09c778, #01a0f9);
}

.foot-block > .footer-text {
  display: inline-block;
  width: 100%;
  border: none;
  padding-top: 40px;
  padding-right: 20px;
  padding-bottom: 80px;
  background-color: transparent;
  line-height: 15px;
  text-decoration: none;
  text-align: left;
}
.footer-links a {
  display: inline-block;
  width: 100%;
  font-size: 14px;
  line-height: 24px;
  font-weight: 400;
  text-transform: capitalize;
  text-decoration: none;
  color: #666;
}
.footer-links a:hover {
  color: #01a0f9;
}
.footer-links p {
  padding-bottom: 15px;
}
.footer-text h3 {
  display: block;
  font-size: 20px;
  line-height: 25px;
  font-weight: 600;
  text-transform: uppercase;
  padding-bottom: 30px;
}
.footer-text > .footer-nav {
  padding: 0;
}
.footer-logo {
  height: 20%;
  padding-bottom: 26px;
}
.social {
  padding-bottom: 30px;
}
.social > .btn-round > a {
  color: white;
  text-decoration: none;
  padding-top: 15px;
  font-size: 20px;
}
.copy p {
  display: inline-block;
  width: 100%;
  font-weight: 400;
  text-align: center;
  font-size: 14px;
  line-height: 25px;
  color: black;
  bottom: 0;
  text-transform: capitalize;
  padding-bottom: 20px;
}
.copy-link {
  text-decoration: none;
  font-size: 14px;
  color: black;
}
.copy-link:hover {
  color: #01a0f9;
}
.about {
  display: inline-block;
  width: 100%;
  font-weight: 400;
  text-align: left;
  font-size: 15px;
  line-height: 20px;
  color: black;
  padding-bottom: 30px;
}

@media (max-width: 1200px) {
  .footer {
    display: grid;
    grid-template-columns: 300px;
  }
  .foot-block > .footer-text {
    padding-bottom: 0;
  }
}
