/* Top info section */
.main-back {
  background-image: url(/images/hero/bg.jpg);
  z-index: -2;
  overflow: hidden;
  width: 100%;
  display: flex;
  justify-content: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.main-header {
  display: grid;
  width: 100%;
  height: 100%;
  grid-template-columns: 1fr 1fr;
  justify-content: center;
  padding-top: 5px;
}

.header-nav {
  display: grid;
  width: 100%;
  height: 100%;
  grid-template-columns: 100px 1fr;
  justify-content: center;
  padding-top: 2%;
}
.right-topInfo {
  display: block;
  width: 100%;
  border: ;
  background-color: transparent;
  padding: 4px;
}

.left-topInfo {
  display: block;
  width: 100%;
  border: none;
  background-color: transparent;
  padding: 4px;
}

.left-header {
  display: block;
  width: 100%;
  border: none;
  background-color: transparent;
  float: left;
}
.right-header {
  display: block;
  width: 100%;
  border: none;
  background-color: transparent;
  float: right;
}
.left-topInfo a {
  text-decoration: none;
  color: white;
}
.left-topInfo > .contacts {
  display: inline-block;
  margin-left: 15px;
  font-size: 12px;
}
.left-topInfo > .contacts i {
  vertical-align: baseline;
  margin-right: 5px;
  color: white;
  font-size: 12px;
}
.right-topInfo > .topInfo-socials {
  display: flex;
  margin-right: 10px;
  float: right;
  font-size: 11px;
}
.right-topInfo > .topInfo-socials a {
  color: white;
  margin-right: 10px;
  vertical-align: baseline;
}
/* Navigation */
header > .row > .header-nav {
  display: grid;
  grid-template-columns: 1fr 2fr;
  padding: 25px 0;
}
.left-header > .header-logo {
  display: block;
}
.right-header > .nav-menu {
  float: right;
}
.right-header > .nav-menu a {
  text-decoration: none;
  color: white;
  padding-left: 15px;
  font-size: 13px;
  text-transform: uppercase;
  vertical-align: baseline;
}
.right-header > .nav-menu a.active {
  color: #cccccc;
}
.right-header > .nav-menu a:hover {
  color: #cccccc;
}
.right-header > .nav-menu a:nth-last-of-type(-n + 2):hover {
  color: #555555;
}
/* 
        .mobile-menu {
            display: block;
            list-style-type: none;
            background-color: grey;
            float: right;
            width: 150px;
            padding: 5px 0 50px 0;
            border: 1px solid #eee;
            z-index: 55;
          }
        .mobile-menu a {
            text-decoration: none;
            color: white;
        }  
          .mobile-menu:hover {
            opacity: 0.5;
            cursor: pointer;
          }

@media (min-width: 640px) {
    .left-topInfo {
        display: block;
    }
    .right-topInfo {
        display: block;
    }
}
  .mobile-btn {
    display: grid;
    justify-content: right;
    align-content: center;
    grid-auto-flow: column;
    cursor: pointer;
  }
  @media screen and (max-width: 768px) {
    .nav-menu a {
      display: none;
    }

    @media screen and (max-width: 768px) {
         .mobile-menu {
           
        } */
