/* Top info section */
header .row > .topInfo {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 15px 0;
    border-bottom: 1px solid #0494e3;
    background: linear-gradient(0deg, #01a0f9, #09c778);
}
    .left-topInfo {
        display: none;
        
    }
        .left-topInfo a {
            text-decoration: none;
            color: #ffffff;
        }
        .left-topInfo > .contacts {
            display: inline-block;
            margin-left: 40px;
          
        }
            .left-topInfo > .contacts i {
                vertical-align: baseline;
                margin-right: 5px;
                color: #ffffff;
            }
    .right-topInfo {
        display: none;
    }
        .right-topInfo > .topInfo-socials {
            display: flex;
            margin-right: 50px;
            float: right;
        }
            .right-topInfo > .topInfo-socials a {
                color: #ffffff;
                margin-right: 10px;
                vertical-align: baseline;
            }

/* Navigation */
header > .row > .header-nav {
    display: grid;
    grid-template-columns: 1fr 2fr;
    padding: 25px 0;
    /* background-color: blueviolet; */
    background: linear-gradient(0deg, #01a0f9, #09c778);
}
    .left-header > .header-logo {
        display: block;
        margin-left: 50px;
    }
    .right-header > .nav-menu {
        float: right;
    }
        .right-header > .nav-menu a {
            text-decoration: none;
            color: #ffffff;
            padding-left: 25px;
            font-size: 15px;
            text-transform: uppercase;
            vertical-align: baseline;
        }
        .right-header > .nav-menu a:first-child {
            color: #cccccc;
        }
        .right-header > .nav-menu a:hover {
            color: #cccccc;
        }
        .right-header > .nav-menu a:nth-last-of-type(-n + 2):hover {
            color: #555555;
        }

@media (min-width: 640px) {
    .left-topInfo {
        display: block;
    }
    .right-topInfo {
        display: block;
    }
}