section .main-hero {
  display: grid;
  width: 100%;
  height: 100%;
  grid-template-columns: 1fr 1fr;
  justify-content: center;
}

.hero-bacground {
    background-image: url(/images/hero/bg.jpg);
    z-index: -2;
    overflow: hidden;
    width: 100%;
    display: flex;
    justify-content: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.left-hero {
  color: white;
  align-items: center;
  display: block;
  width: 95%;
  border: none;
  padding-top: 30%;
  background-color: transparent;
}
.main-hero h1 {
  font-size: 45px;
  line-height: 50px;
  margin-bottom: 14px;
  font-weight: 800;
}
.main-hero p {
  font-size: 17px;
  line-height: 30px;
  margin-bottom: 28px;
  /* reikia dar srifta priskirti, o srifto spalva bus pakeista uzdejus background. */
}

/* button stilius bus paiimtas is button css. */

.right-hero {
  align-items: center;
  display: block;
  width: 100%;
  border: none;
  background-color: transparent;
  margin-bottom: 20%;

.img1 {
  width: 50%;
  margin-top: 10%;

}
.img2 {
  object-fit: cover;
  width: 45%;
  margin-top: 40%;


@media screen and (max-width: 975px) {
  section .main-hero {
    display: grid;
    width: 100%;
    grid-template-columns: 1fr;
    justify-content: center;
    text-align: center;
    padding: none;
    margin: none;
    background-size: 10%;
    }

    @media screen and (max-width: 975px) {
      .main-hero h1 {
        font-size: 30px;
          line-height: 32px;

