@font-face {
  font-family: 'Poppins';
  src: url(../../fonts/poppins/Poppins-Regular.ttf);
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Poppins';
  src: url(../../fonts/poppins/Poppins-Bold.ttf);
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Poppins';
  src: url(../../fonts/poppins/Poppins-SemiBold.ttf);
  font-weight: 600;
  font-style: normal;
}

:root {
  --main-color: rgb(149, 149, 226);
}
